@import "fonts";

$primaryColor: #1698d9;
$hoverColor: #2ea8e6;
$selectedColor: #d91667;
$selectedHoverColor: #e52e7a;
$bgIm: url(../image/bg.png);
$blockBg: rgb(255, 255, 255);
$cat: url(..\image\cat.png);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Trebuchet MS";
  background: $bgIm;
}
.gradient {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 5e-5) 49.88%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3%;
  padding-top: 5%;
  cursor: default;
  h1 {
    font-family: Exo2;
    font-size: 36px;
    line-height: 44pxs;
    color: #ffffff;
    text-shadow: 0px 1px 1px #000000;
    @media (max-width: 460px) {
      text-align: center;
    }
  }
}
.block {
  width: 320px;
  height: 508px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 8%;
  position: relative;

  &__content {
    position: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__content:hover .brd {
    border-color: $hoverColor;
  }
  &__content:hover .block__circle {
    background-color: $hoverColor;
  }

  &__bevel {
    height: 45px;
    width: 100%;
    background: $blockBg;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 13%,
      rgba(255, 255, 255, 1) 13%
    );
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-top-right-radius: 20px;
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  .aft {
    height: 45px;
    width: 275px;
    border-top-right-radius: 20px;
    border-left: none;
    border-bottom: none;
    top: 0;
    right: 0;
    position: absolute;
  }
  .bef {
    height: 64px;
    width: 1px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    top: -8px;
    left: 22px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 2;
  }

  &__section {
    background-color: $blockBg;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
    width: 320px;
    height: 435px;
    overflow: hidden;
    position: relative;
  }
  &__toptext {
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 19px;
    text-align: left;
    margin-left: 15%;
  }

  &__niamushka {
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 56px;
    text-align: left;
    margin-left: 14%;
  }

  &__taste {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    margin-left: 15%;
  }
  &__portions {
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    margin-top: 3%;
    margin-left: 15%;
  }

  &__cat {
    position: absolute;
    pointer-events: none;
    width: 100%;
    bottom: -30px;
    left: 0;
  }

  &__circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    right: 16px;
    bottom: 16px;
    background: $primaryColor;
    color: #ffffff;
  }

  &__weight {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    pointer-events: none;
  }
  &__kg {
    font-size: 21px;
    line-height: 22px;
  }

  &__buy {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
    padding-bottom: 67px;
    cursor: default;
    span {
      color: $primaryColor;
      text-decoration: underline dashed;
      cursor: pointer;
    }
    span:hover {
      color: $hoverColor;
    }
  }
}

.brd {
  border: 4px solid $primaryColor;
}

.cursor {
  cursor: pointer;
}

.dis {
  position: absolute;
  width: 100%;
  height: 480px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 6%,
    rgba(179, 179, 179, 0.690524154834533) 6%
  );
  border-radius: 20px;
  z-index: 9;
  cursor: default;
  pointer-events: none;
  visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
