.block__disable {
  position: absolute;
  width: 100%;
  height: 480px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 6%,
    rgba(179, 179, 179, 0.690524154834533) 6%
  );
  border-radius: 20px;
  z-index: 9999;
  -webkit-tap-highlight-color: transparent;
}
