.block__disable {
  position: absolute;
  left: -5px;
  width: 317px;
  height: 472px;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 6%,
    rgba(179, 179, 179, 0.690524154834533) 6%
  );
  border-radius: 10px;
  z-index: 9999;
  -webkit-tap-highlight-color: transparent;
}
