@import "../fonts/fonts.scss";

.header {
  margin-top: 0;
  margin-bottom: 22px;
  cursor: default;
  h1 {
    font-family: "Exo2";
    font-size: 36px;
    line-height: 44pxs;
    color: #ffffff;
    text-shadow: 0px 1px 1px #000000;
  }
}
