@import "colors";

.block__bevel {
  height: 45px;
  width: 100%;
  background: $blockBg;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 13%,
    rgba(255, 255, 255, 1) 13%
  );
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-top-right-radius: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.aft {
  height: 45px;
  width: 275px;
  border-top-right-radius: 20px;
  border-left: none;
  border-bottom: none;
  top: 0;
  right: 0;
  position: absolute;
}
.bef {
  height: 64px;
  width: 1px;
  border-right: none;
  border-bottom: none;
  border-top: none;
  top: -8px;
  left: 22px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 2;
}
