@import "colors";

.block__content,
.block__content-disable {
  position: absolute;
  width: 312px;
  height: 472px;
  border-radius: 10px;
  padding-top: 20px;
  color: #666666;
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.block__content-disable {
  pointer-events: none;
}
