@import "colors";

.block__section {
  background-color: $blockBg;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  width: 320px;
  height: 435px;
  overflow: hidden;
  position: relative;
}
