$bgIm: url(./Components/img/bg.png);
html {
  height: 100%;
}
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Trebuchet MS";
  background: $bgIm repeat;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gradient {
  min-height: 100px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 5e-5) 49.88%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
